body {
	background-color: white;
	font-family: "Roboto", sans-serif;
	display: flex;
}

#container {
	margin-top: 96px;
	width: 1440px;
	display: flex;
	justify-content: center;
}

#page {
	display: flex;
	flex-wrap: wrap;
	gap: 95px;
	justify-content: center;
}

#image {
	width: 505px;
  border-width: 1px;
  border-style: solid;
	height: 330px;
	/* background: url("../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_16_9,c_fill,g_auto__c_scale,w_596.jpg"); */
}

@media (max-width: 400px) {
  #image {
    width:100%;
  }
  #page {
    gap: 0px;
  }
  #content {
    width: 100%;
  }
  #modal-content {
    padding: 20px;
  }
}



#content {
	width: 380px;
	height: 330px;
	display: flex;
	flex-direction: column;
}

#title {
	width: 380px;
	height: 50px;
	margin-top: 40px;
	font-size: 20px;
	display: flex;
	align-items: center;
}

#text {
	width: 380px;
	height: 96px;
	margin-top: 24px;
	line-height: 150%;
	display: flex;
	align-items: center;
}

#alert {
	width: 380px;
	height: 50px;
	margin-left: 39px;
	margin-top: -12px;
	font-weight: 700;
	font-size: 42px;
}

#modal-main-text {
	width: 380px;
	height: 24px;
	margin-left: 39px;
	margin-top: 30px;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}

#reset-button {
	width: 110px;
	height: 20px;
	background: #aaaaaa;
	border-color: #333333;
	border-width: 1px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
}

#reset-button:hover {
	cursor: pointer;
  background: #666666
}

#modal-content {
	background-color: #ffffff;
	margin: 15% auto;
	padding: 56px;
	width: 618px;
	height: 98px;
}

#close {
	color: #000000;
	font-size: 28px;
	width: 12px;
	height: 12px;
	position: relative;
	margin-top: -20px;
	margin-right: -8px;
	float: right;
}

#close:hover,
#close:focus {
	color: #333333;
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-width: 618px;
	overflow: auto;
	background-color: #121212;
	background-color: rgba(0, 0, 0, 0.4);
}

.button-component {
	width: 128px;
	height: 48px;
	margin-top: 32px;
	background: #e4c1ae;
	border-width: 0px;
	border-radius: 32px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #ffffff;
}

.button-component:hover,
.button-component:focus {
	cursor: pointer;
  background: #dd9d7a;
}
