body {
	background-color: white;
	font-family: "Roboto", sans-serif;
	display: flex;
}

div {
	border-color: black;
	border-style: solid;
	border-width: 0px;
}

#container {
	margin-top: 96px;
	width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 505px;
}

#page {
	display: flex;
	flex-wrap: wrap;
	gap: 95px;
	justify-content: center;
	align-items: center;
}

#image {
	width: 505px;
	height: 330px;
	background: url("../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg");
}

#content {
	width: 380px;
	height: 330px;
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	margin-left: 0px;
}

#title {
	width: 380px;
	height: 50px;
	margin-top: 40px;
	font-size: 20px;
	display: flex;
	align-items: center;
}

#copy {
	width: 380px;
	height: 96px;
	margin-top: 24px;
	line-height: 150%;
	display: flex;
	align-items: center;
}

#button {
	width: 128px;
	height: 48px;
	margin-top: 32px;
	background: #e4c1ae;
	border-width: 0px;
	border-radius: 32px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	color: #ffffff;
}

#modal-main-text {
	
	width: 380px;
	height: 24px;
	margin-left: 95px;
	margin-top: 30px;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}

#alert {
	
	width: 380px;
	height: 50px;
	margin-left: 95px;
	margin-top: 56px;
	font-weight: 700;
	font-size: 42px;
	line-height: 120%;
	/* or 50px */
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #121212; /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #ffffff;
	margin: 15% auto;
	padding: 20px;
	width: 64%;
	height: 210px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	width: 12px;
	height: 12px;
	position: absolute;
	margin-right: 46px;
	margin-top: 46px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
